{% extends "base.html" %}

{% block content %}

<p class="heavy-text-shadow">
  From Adam, Tessa's husband:
</p>

<div class="letter-wrapper">
  <div class="letter-content">
    <p>
      It is devastating when the doctor says to your beautiful and
      vibrant wife, "I am sorry but your cancer is back." The world
      spins a little more slowly and time seems much more precious. We
      heard these words in Oct. of 2010 and thought we were past it
      until they were said again in Feb. of 2012.
    </p>
    <p>
      This will be Tessa's 3rd battle with this awful disease. In
      1998, at the age of 16, Tessa battled Hodgkin's Disease and went
      into remission. Twelve years later, the cancer came back, and it
      was a little further advanced and more aggressive than the first
      time, stage IVB. After extensive chemotherapy with ICE and an
      Autologous Stem Cell Transplant Tessa was in remission... Until
      her six month PET/CT scan failed. Now, a year after the
      transplant Tessa is battling cancer a 3rd time. She faces a
      cutting-edge treatment (Adcetris) and an Allogenic Bone Marrow
      Transplant (hopefully from one of her 3 brothers).
    </p>
    <p>
      Tessa has so many qualities that made me fall in love with her
      back in 2004. Her smile captivated me, it still lights up any
      room. Her strength inspired me, now it empowers me. I love her
      tenacity in facing difficulty. I love how beautiful she is every
      day, even when she does not feel it. The scars on her body only
      endear me more to her because it is part of OUR history. I love
      that Tessa is a great mother to our two children, Mykelle (4)
      and Evan (3). I love that they adore Tessa and always want to
      impress her. I love that Tessa teaches them so many good
      habits. I will always love Tessa for all of the good she has put
      into the world. How can I not say that I love her more now than
      I did when we first met?
    </p>
    <p>
      Tessa's fight with cancer has opened my eyes to the world of
      kindness and compassion. I did not realize how much fighting
      cancer depended upon community. Family and friends watched our
      children during numerous hospital visits. People brought us food
      and gave us recipes for cancer fighting diets. Prayers and
      affection were expressed through so many letters, phone calls,
      emails, and Facebook posts. Family and friends made the holidays
      special while Tessa was getting chemo over Christmas. The many
      good deeds illuminated some of the darkest moments.
    </p>
    <p>
      Getting Tessa healthy and maintaining a semblance of normalcy
      for our children become priorities. Sadly, overcoming cancer is
      not the only hardship our family faces during a long treatment
      process. It feels wrong to worry about money when your wife is
      battling for her life but it is a reality. Despite having
      insurance coverage, the financial strain of fighting cancer
      weighs heavily on us. Between taking a lot of time of work,
      frequent hospital visits, medication and medical bills, the
      treatment cost is high. Tessa's treatment is worth every
      struggle we might encounter. She is a fighter and will beat this
      a 3rd time.
    </p>
    <p>
      Thank you for taking time out of your busy lives to watch
      Tessa's video and support her in whatever way that may be. The
      kindness you offer will resonate in our lives more than you may
      ever know.
    </p>
  </div> <!-- letter-content -->
</div> <!-- letter-wrapper -->

<br/>

<p>
  Tessa Winger is a 2 time cancer survivor and has been recently
  diagnosed with Hodgkin's Lymphoma for the 3rd time. She is 30 years
  old, married, with two young children. We, her family and friends,
  are trying to do everything we can to help them through this
  difficult time. Any help you can offer this amazing family as they
  fight the cancer battle yet again would be greatly appreciated.
</p>

<div class="alert-message block-message info">
  <p style="text-align:center;">
    <a class="btn primary"
       data-controls-modal="paypal-modal"
       data-backdrop="static">
      Donate Securely Via PayPal
    </a>
  </p>
  <br/>
  <p>
    If you'd like to provide support Tessa and her family by any other
    means or to send letters of support and encouragement please
    contact us
    at <a href="mailto:contact@supporttessabassettwinger.com">contact@supporttessabassettwinger.com</a>
  </p>
</div>

<p>
  You can read more about Tessa's
  story <a href="http://wingerlife.blogspot.com/2011/10/seriously-bad-news.html">here</a>.
</p>

<!-- <blockquote> -->
<!--   <p>Inspirational quote here</p><small>Someone</small> -->
<!-- </blockquote> -->

<iframe width="560" height="315"
        src="http://www.youtube.com/embed/OHL6OonYgEQ" frameborder="0"
        allowfullscreen>
</iframe>


{% endblock %}
